<!-- Sección 03 < Company Brands > -->

<!-- Contenedor Sección Company Brands -->
<section class="section">

    <!-- Contenedor Contenido Company Brands -->
    <div class="container">

        <!--Título H5 tamaño 5/12 tiene texto centrado color grey dark -->
        <h5 class="is-size-5 has-text-grey-dark mb-2 has-text-centered">Trusted by brand all over the world</h5>

        <!-- Contenedor para agrupar logotipos de empresas tiene columns multiline -->
        <div class="columns is-multiline">

            <!-- Logotipo "01" es 6/12 con margin-bottom 1rem -->
            <div class="column is-2 mb-4">
                <!-- Contenedor es flexible con elementos alineados en el centro -->
                <div class="is-flex is-align-items-center" style="height: 128px;">
                    <!-- Imagen tiene margin-left y margin-right auto, se comporta como bloque, de ancho completo -->
                    <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="assets/logos/slack.svg" alt="">
                </div>
            </div>

            <!-- Logotipo "02" es 6/12 con margin-bottom 1rem -->
            <div class="column is-2 mb-4">
                <!-- Contenedor es flexible con elementos alineados en el centro -->
                <div class="is-flex is-align-items-center" style="height: 128px;">
                    <!-- Imagen tiene margin-left y margin-right auto, se comporta como bloque, de ancho completo -->
                    <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="assets/logos/dropbox.svg" alt="">
                </div>
            </div>

            <!-- Logotipo "03" es 6/12 con margin-bottom 1rem -->
            <div class="column is-2 mb-4">
                <!-- Contenedor es flexible con elementos alineados en el centro -->
                <div class="is-flex is-align-items-center" style="height: 128px;">
                    <!-- Imagen tiene margin-left y margin-right auto, se comporta como bloque, de ancho completo -->
                    <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="assets/logos/spotify.svg" alt="">
                </div>
            </div>

            <!-- Logotipo "04" es 6/12 con margin-bottom 1rem -->
            <div class="column is-2 mb-4">
                <!-- Contenedor es flexible con elementos alineados en el centro -->
                <div class="is-flex is-align-items-center" style="height: 128px;">
                    <!-- Imagen tiene margin-left y margin-right auto, se comporta como bloque, de ancho completo -->
                    <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="assets/logos/amazon.svg" alt="">
                </div>
            </div>

            <!-- Logotipo "05" es 6/12 con margin-bottom 1rem -->
            <div class="column is-2 mb-4">
                <!-- Contenedor es flexible con elementos alineados en el centro -->
                <div class="is-flex is-align-items-center" style="height: 128px;">
                    <!-- Imagen tiene margin-left y margin-right auto, se comporta como bloque, de ancho completo -->
                    <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="assets/logos/netflix.svg" alt="">
                </div>
            </div>

            <!-- Logotipo "06" es 6/12 con margin-bottom 1rem -->
            <div class="column is-2">
                <!-- Contenedor es flexible con elementos alineados en el centro -->
                <div class="is-flex is-align-items-center" style="height: 128px;">
                    <!-- Imagen tiene margin-left y margin-right auto, se comporta como bloque, de ancho completo -->
                    <img class="mx-auto is-block image is-fullwidth img-fluid" style="height: 34px;" src="assets/logos/stripe.svg" alt="">
                </div>
            </div>




        </div>
    </div>
</section>

<!-- Sección 03 < /Company Brands > -->