<!-- Sección 12: < Contact > -->

<!-- Contenedor Sección Contact -->
<section class="section">

    <!-- Contenedor Contenido Contact -->
    <div class="container">

        <!-- Contenedor para agrupar elementos de Contact tiene columns multiline y está centrado  -->
        <div class="columns is-multiline is-centered">

            <!-- Contenedor introducción con título y descripción, tamaño 8/12 y 6/12 en desktop -->
            <div class="column is-8 is-6-desktop">
                <!-- Contenedor con margin-left and margin-right auto, margin-bottom 1.5rem y texto centrado -->
                <div class="mx-auto mb-5 has-text-centered">
                    <!-- Antetítulo con color, tiene texto color grey -->
                    <span class="has-text-grey-dark">Lorem ipsum</span>
                    <!-- Título H2 con margin-top 0.5rem margin-bottom 0.75rem tamaño 1/12 y 3/12 en mobile con texto weight bold -->
                    <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
                    <!-- Descripción, párrafo con texto color grey dark -->
                    <p class="has-text-grey-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
                </div>
            </div>

            <!-- Contenedor de elementos "box" column tamaño 12/12 y 8/12 en desktop -->
            <div class="column is-12 is-8-desktop">
                <!-- Contenedor con columns multiline -->
                <div class="columns is-multiline">

                    <!-- Contenedor box "address", column tamaño 4/12 con margin-bottom 1rem -->
                    <div class="column is-4 mb-4">
                        <!-- Contenedor "box" tiene padding-top and padding-bottom 3rem, fondo color light y texto centrado -->
                        <div class="box py-6 has-background-light has-text-centered" style="height: 100%">
                            <!-- Título H3 tamaño 4/12 con texto weight bold -->
                            <h3 class="is-size-4 has-text-weight-bold">Address</h3>
                            <!-- Descripción, párrafo con margin-top 0.75rem y margin-bottom 0.25rem -->
                            <p class="mt-3 mb-1">1686 Geraldine Lane</p>
                            <p>New York, NY 10013</p>
                        </div>
                    </div>

                    <!-- Contenedor box "contact", column tamaño 4/12 con margin-bottom 1rem -->
                    <div class="column is-4 mb-4">
                        <!-- Contenedor "box" tiene padding-top and padding-bottom 3rem, fondo color light y texto centrado -->
                        <div class="box py-6 has-background-light has-text-centered" style="height: 100%">
                            <!-- Título H3 tamaño 4/12 con texto weight bold-->
                            <h3 class="is-size-4 has-text-weight-bold">Contact</h3>
                            <!-- Descripción, párrafo con margin-top 0.75rem y margin-bottom 0.25rem -->
                            <p class="mt-3 mb-1">hello@wireframes.org</p>
                            <p>+7-843-672-431</p>
                        </div>
                    </div>

                    <!-- Contenedor box "socials", column tamaño es 4/12 en desktop -->
                    <div class="column is-4-desktop">
                        <div class="box py-6 has-background-light has-text-centered" style="height: 100%; max-height: 196px;">
                            <!-- Título H3 tamaño 4/12 con texto weight bold y margin-bottom 1.5rem -->
                            <h3 class="is-size-4 has-text-weight-bold mb-5">Socials</h3>
                            <!-- Set de iconos SVG tiene contenido justificado al centro, elemento alineados al centro y es flexible-->
                            <div class="is-flex is-justify-content-center is-align-items-center">
                                <!-- Imagen tiene margin-left and margin-right 0.25rem -->
                                <img class="mx-1 image" src="assets/socials/facebook-light.svg" alt="">
                                <!-- Imagen tiene margin-left and margin-right 0.25rem -->
                                <img class="mx-1 image" src="assets/socials/twitter-light.svg" alt="">
                                <!-- Imagen tiene margin-left and margin-right 0.25rem -->
                                <img class="mx-1 image" src="assets/socials/instagram-light.svg" alt="">
                                <!-- Imagen tiene margin-left and margin-right 0.25rem -->
                                <img class="mx-1 image" src="assets/socials/github-light.svg" alt="">
                                <!-- Imagen tiene margin-left and margin-right 0.25rem -->
                                <img class="mx-1 image" src="assets/socials/linkedin-light.svg" alt="">
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección 12: < /Contact > -->