<!-- Sección 14: < Footer > -->

<!-- Contenedor Sección Footer -->
<footer class="section">

    <!-- Contenedor Contenido Footer -->
    <div class="container">

        <!-- Contenedor para agrupar elementos del Footer, tiene columns multiline y borde inferior -->
        <div class="columns is-multiline" style="border-bottom: 1px solid #dee2e6;">

            <!-- Contenedor de información de contacto, tamaño 3/12 con margin-bottom 1.5rem -->
            <div class="column is-3 mb-5">

                <!-- Enlace Logotipo PNG tiene margin-bottom 1rem se comporta como bloque en línea con los otros elementos -->
                <a class="mb-4 is-inline-block" href="#">
                    <!-- Imagen tiene width 112 y height 28 -->
                    <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
                </a>

                <!-- Texto descripción, párrafo con texto color grey dark y margin-bottom 3rem -->
                <p class="has-text-grey-dark mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <!-- Contenedor set de enlaces a redes sociales -->
                <div>
                    <!-- Set de enlaces SVG -->
                    <!-- Enlace tiene margin-right 0.75rem y se comporta como bloque en línea con los otros elementos-->
                    <a class="mr-3 is-inline-block" href="#">
                        <!-- Imagen tiene margin-left and margin-right auto y tiene ancho completo-->
                        <img class="mx-auto image is-fullwidth" src="assets/socials/facebook.svg" alt="">
                    </a>
                    <!-- Enlace tiene margin-right 0.75rem y se comporta como bloque en línea con los otros elementos-->
                    <a class="mr-3 is-inline-block" href="#">
                        <!-- Imagen tiene margin-left and margin-right auto y tiene ancho completo-->
                        <img class="mx-auto image is-fullwidth" src="assets/socials/github.svg" alt="">
                    </a>
                    <!-- Enlace tiene margin-right 0.75rem y se comporta como bloque en línea con los otros elementos-->
                    <a class="mr-3 is-inline-block" href="#">
                        <!-- Imagen tiene margin-left and margin-right auto y tiene ancho completo-->
                        <img class="mx-auto image is-fullwidth" src="assets/socials/instagram.svg" alt="">
                    </a>
                    <!-- Enlace tiene margin-right 0.75rem y se comporta como bloque en línea con los otros elementos-->
                    <a class="mr-3 is-inline-block" href="#">
                        <!-- Imagen tiene margin-left and margin-right auto y tiene ancho completo-->
                        <img class="mx-auto image is-fullwidth" src="assets/socials/linkedin.svg" alt="">
                    </a>
                    <!-- Enlace tiene margin-right 0.75rem y se comporta como bloque en línea con los otros elementos-->
                    <a class="is-inline-block" href="#">
                        <!-- Imagen tiene margin-left and margin-right auto y tiene ancho completo-->
                        <img class="mx-auto image is-fullwidth" src="assets/socials/twitter.svg" alt="">
                    </a>
                </div>
            </div>

            <!-- Contenedor de enlaces a diferentes páginas del sitio web, column tamaño 9/12 -->
            <div class="column is-9">

                <!-- Contenedor de categorías, columns es multiline -->
                <div class="columns is-multiline">

                    <!-- Contenedor botones categoría "Company" tiene column tamaño 6/12 y 3/12 en desktop con margin-bottom 1.5rem -->
                    <div class="column is-6 is-3-desktop mb-5">
                        <!-- Título H4 tamaño 4/12 con texto weight bold y margin-bottom 1rem -->
                        <h4 class="is-size-4 has-text-weight-bold mb-4">Company</h4>
                        <!-- Set de enlaces en una lista -->
                        <ul>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">About Us</a></li>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Careers</a></li>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Press</a></li>
                            <!-- elemento de enlace de btn color blanco -->
                            <li><a class="button is-white" href="#">Blog</a></li>
                        </ul>
                    </div>

                    <!-- Contenedor botones categoría "Pages" tiene column tamaño 6/12 y 3/12 en desktop con margin-bottom 1.5rem -->
                    <div class="column is-6 is-3-desktop mb-5">
                        <!-- Título H4 tamaño 4/12 con texto weight bold y margin-bottom 1rem -->
                        <h4 class="is-size-4 has-text-weight-bold mb-4">Pages</h4>
                        <!-- Set de enlaces en una lista -->
                        <ul>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Login</a></li>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Register</a></li>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Add list</a></li>
                            <!-- elemento de enlace de btn color blanco -->
                            <li><a class="button is-white" href="#">Contact</a></li>
                        </ul>
                    </div>

                    <!-- Contenedor botones categoría "Legal" tiene column tamaño 6/12 y 3/12 en desktop con margin-bottom 1.5rem -->
                    <div class="column is-6 is-3-desktop mb-5">
                        <!-- Título H4 tamaño 4/12 con texto weight bold y margin-bottom 1rem -->
                        <h4 class="is-size-4 has-text-weight-bold mb-4">Legal</h4>
                        <!-- Set de enlaces en una lista -->
                        <ul>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Terms</a></li>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">About Us</a></li>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Team</a></li>
                            <li><a class="button is-white" href="#">Privacy</a></li>
                            <!-- elemento de enlace de btn color blanco -->
                        </ul>
                    </div>

                    <!-- Contenedor botones categoría "Resources" tiene column tamaño 6/12 y 3/12 en desktop con margin-bottom 1.5rem -->
                    <div class="column is-6 is-3-desktop mb-5">
                        <!-- Título H4 tamaño 4/12 con texto weight bold y margin-bottom 1rem -->
                        <h4 class="is-size-4 has-text-weight-bold mb-4">Resources</h4>
                        <!-- Set de enlaces en una lista -->
                        <ul>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Blog</a></li>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Service</a></li>
                            <!-- elemento tiene margin-bottom 0.5rem con enlace de btn color blanco -->
                            <li class="mb-2"><a class="button is-white" href="#">Product</a></li>
                            <!-- elemento de enlace de btn color blanco -->
                            <li><a class="button is-white" href="#">Pricing</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <!-- Contenedor mensaje de copyright, tiene padding-top 1.5rem con texto centrado -->
        <div class="pt-5 has-text-centered">
            <!-- Mensaje en párrafo -->
            <p>All rights reserved © Bulma.io</p>
        </div>


    </div>
</footer>

<!-- Sección 14: < /Footer > -->

</body>
</html>