<!DOCTYPE html>
<html lang="es">
<head>


    <title>Proyecto Certificación | BulmaCSS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Script JS-->
    <script src="/assets/js/script.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://bulma.io/favicons/apple-touch-icon.png?v=201701041855">
    <link rel="icon" type="image/png" href="https://bulma.io/favicons/favicon-32x32.png?v=201701041855" sizes="32x32">
    <link rel="icon" type="image/png" href="https://bulma.io/favicons/favicon-16x16.png?v=201701041855" sizes="16x16">
    <link rel="manifest" href="https://bulma.io/favicons/manifest.json?v=201701041855">
    <link rel="mask-icon" href="https://bulma.io/favicons/safari-pinned-tab.svg?v=201701041855" color="#00d1b2">
    <link rel="shortcut icon" href="https://bulma.io/favicons/favicon.ico?v=201701041855">


</head>
<body>