<!-- Sección 05 < How it Works > -->

<!-- Contenedor Sección How it Works - aplica posición relativa al elemento -->
<section class="section is-relative">

    <!-- Contenedor Contenido How it Works -->
    <div class="container">

        <!-- Contenedor introducción con título y reseña tiene margin-bottom 3rem padding-bottom 0.75rem tiene columns multiline, centrado-->
        <div class="mb-6 pb-3 columns is-multiline is-centered">
            <!-- Contenedor es tamaño 8/12 y tiene texto centrado -->
            <div class="column is-8 has-text-centered">
                <!-- Antetítulo tiene texto color grey dark -->
                <span class="has-text-grey-dark">Lorem ipsum</span>
                <!-- Título H2 margin-top 0.5rem margin-bottom 0.75rem es 1/12 es 3/12 en mobile y tiene texto weight bold-->
                <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
                <!-- Reseña tiene subtitle con texto color grey en párrafo -->
                <p class="subtitle has-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
            </div>
        </div>


        <!-- Contenedor de elementos "box", contenedor tiene columns multiline -->
        <div class="columns is-multiline">



            <!-- Contenedor box "01" , es 6/12 y 4/12 en desktop con margin-bottom 1.5rem -->
            <div class="column is-6 is-4-desktop mb-5">
                <!-- Contenedor contenido de box, caja con padding 3rem aplica posición relativa al elemento, tiene fondo light y texto centrado -->
                <div class="box p-6 is-relative has-background-light has-text-centered">
                    <!-- Número con color, tiene texto blanco, fondo primary, es flexible, tiene contenido justificado al centro y tiene items alineados al centro -->
                    <span class="has-text-white has-background-primary is-flex is-justify-content-center is-align-items-center" style="position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%); width: 48px;height: 48px; border-radius: 50% !important;">1</span>
                    <!-- Título H4 con margin-bottom 1rem y tiene texto weight bold -->
                    <h4 class="mb-4 is-size-4 has-text-weight-bold">Suspendisse interdum ullamcorper elit at</h4>
                    <!-- Reseña en subtitle con texto grey -->
                    <p class="subtitle has-text-grey">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
                </div>
            </div>

            <!-- Contenedor box "02" , es 6/12 y 4/12 en desktop con margin-bottom 1.5rem -->
            <div class="column is-6 is-4-desktop mb-5">
                <!-- Contenedor contenido de box, caja con padding 3rem aplica posición relativa al elemento, tiene fondo light y texto centrado -->
                <div class="box p-6 is-relative has-background-light has-text-centered">
                    <!-- Número con color, tiene texto blanco, fondo primary, es flexible, tiene contenido justificado al centro y tiene items alineados al centro  -->
                    <span class="has-text-white has-background-primary is-flex is-justify-content-center is-align-items-center" style="position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%); width: 48px;height: 48px; border-radius: 50% !important;">2</span>
                    <!-- Título H4 con margin-bottom 1rem y tiene texto weight bold -->
                    <h4 class="mb-4 is-size-4 has-text-weight-bold">Suspendisse interdum ullamcorper elit at</h4>
                    <!-- Reseña en subtitle con texto grey -->
                    <p class="subtitle has-text-grey">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
                </div>
            </div>


            <!-- Contenedor box "03" , es 6/12 y 4/12 en desktop con margin-bottom 1.5rem -->
            <div class="column is-6 is-4-desktop mb-5">
                <!-- Contenedor contenido de box, caja con padding 3rem aplica posición relativa al elemento, tiene fondo light y texto centrado -->
                <div class="box p-6 is-relative has-background-light has-text-centered">
                    <!-- Número con color, tiene texto blanco, fondo primary, es flexible, tiene contenido justificado al centro y tiene items alineados al centro  -->
                    <span class="has-text-white has-background-primary is-flex is-justify-content-center is-align-items-center" style="position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%); width: 48px;height: 48px; border-radius: 50% !important;">3</span>
                    <!-- Título H4 con margin-bottom 1rem y tiene texto weight bold -->
                    <h4 class="mb-4 is-size-4 has-text-weight-bold">Suspendisse interdum ullamcorper elit at</h4>
                    <!-- Reseña en subtitle con texto grey -->
                    <p class="subtitle has-text-grey">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
                </div>
            </div>


            <!-- Contenedor box "04" , es 6/12 y 4/12 en desktop con margin-bottom 1.5rem -->
            <div class="column is-6 is-4-desktop mb-5">
                <!-- Contenedor contenido de box, caja con padding 3rem aplica posición relativa al elemento, tiene fondo light y texto centrado -->
                <div class="box p-6 is-relative has-background-light has-text-centered">
                    <!-- Número con color, tiene texto blanco, fondo primary, es flexible, tiene contenido justificado al centro y tiene items alineados al centro  -->
                    <span class="has-text-white has-background-primary is-flex is-justify-content-center is-align-items-center" style="position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%); width: 48px;height: 48px; border-radius: 50% !important;">4</span>
                    <!-- Título H4 con margin-bottom 1rem y tiene texto weight bold -->
                    <h4 class="mb-4 is-size-4 has-text-weight-bold">Suspendisse interdum ullamcorper elit at</h4>
                    <!-- Reseña en subtitle con texto grey -->
                    <p class="subtitle has-text-grey">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
                </div>
            </div>


            <!-- Contenedor box "05" , es 6/12 y 4/12 en desktop con margin-bottom 1.5rem -->
            <div class="column is-6 is-4-desktop mb-5">
                <!-- Contenedor contenido de box, caja con padding 3rem aplica posición relativa al elemento, tiene fondo light y texto centrado -->
                <div class="box p-6 is-relative has-background-light has-text-centered">
                    <!-- Número con color, tiene texto blanco, fondo primary, es flexible, tiene contenido justificado al centro y tiene items alineados al centro  -->
                    <span class="has-text-white has-background-primary is-flex is-justify-content-center is-align-items-center" style="position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%); width: 48px;height: 48px; border-radius: 50% !important;">5</span>
                    <!-- Título H4 con margin-bottom 1rem y tiene texto weight bold -->
                    <h4 class="mb-4 is-size-4 has-text-weight-bold">Suspendisse interdum ullamcorper elit at</h4>
                    <!-- Reseña en subtitle con texto grey -->
                    <p class="subtitle has-text-grey">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
                </div>
            </div>


            <!-- Contenedor box "06" , es 6/12 y 4/12 en desktop con margin-bottom 1.5rem -->
            <div class="column is-6 is-4-desktop">
                <!-- Contenedor contenido de box, caja con padding 3rem aplica posición relativa al elemento, tiene fondo light y texto centrado -->
                <div class="box p-6 is-relative has-background-light has-text-centered">
                    <!-- Número con color, tiene texto blanco, fondo primary, es flexible, tiene contenido justificado al centro y tiene items alineados al centro  -->
                    <span class="has-text-white has-background-primary is-flex is-justify-content-center is-align-items-center" style="position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%); width: 48px;height: 48px; border-radius: 50% !important;">6</span>
                    <!-- Título H4 con margin-bottom 1rem y tiene texto weight bold -->
                    <h4 class="mb-4 is-size-4 has-text-weight-bold">Suspendisse interdum ullamcorper elit at</h4>
                    <!-- Reseña en subtitle con texto grey -->
                    <p class="subtitle has-text-grey">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
                </div>
            </div>



        </div>
    </div>
</section>

<!-- Sección 05 < /How it Works > -->
