<!-- Sección 13: < Newsletter > -->

<!-- Contenedor Sección Newsletter -->
<section class="section">

    <!-- Contenedor Contenido Newsletter -->
    <div class="container">

        <!-- Contenedor elemento "box" tiene padding 3rem y fondo color light -->
        <div class="box p-6 has-background-light">
            <!-- Contenedor para agrupar elementos en "box", esta verticalmente centrado, tiene columns multiline -->
            <div class="is-vcentered columns is-multiline">

                <!-- Contenedor título y descripción, tamaño 8/12 en desktop con margin-bottom 0.75rem -->
                <div class="column is-8-desktop mb-3">
                    <div>
                        <!-- Título H3 es 2/12 y 3/12 en mobile con margin-bottom 0.5rem y texto weight bold -->
                        <h3 class="is-size-2 is-size-3-mobile mb-2 has-text-weight-bold">Sign up to our newsletter</h3>
                        <!-- Descripción, párrafo tiene texto color grey dark -->
                        <p class="has-text-grey-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                </div>

                <!-- Contenedor de formulario con botón, column tamaño 4/12 en desktop -->
                <div class="column is-4-desktop">
                    <!-- Formulario -->
                    <form action="#">
                        <!-- Caja flexible -->
                        <div class="is-flex">
                            <!-- Contenedor de input text tiene margin-right 0.5rem es flexible-creciente en 1rem  -->
                            <div class="control mr-2 is-flex-grow-1">
                                <!-- Campo de entrada de correo electrónico -->
                                <input class="input" type="email" placeholder="Type your e-mail">
                            </div>
                            <!-- Btn con color primary -->
                            <button class="button is-primary">Action</button>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>
</section>

<!-- Sección 13: < /Newsletter > -->