<!-- Sección 09 < Portfolio > -->

<!-- Contenedor Sección Portfolio -->
<section class="section">

    <!-- Contenedor Contenido Portfolio -->
    <div class="container">

        <!-- Contenedor introducción con título tiene columns multiline centrado con margin-bottom 3rem -->
        <div class="columns is-multiline is-centered mb-6">
            <!-- Contenedor tiene columns 8/12 con texto centrado  -->
            <div class="column is-8 has-text-centered">
                <!-- Antetítulo tiene texto color grey dark -->
                <span class="has-text-grey-dark">Lorem ipsum</span>
                <!-- Título H2 con margin-top 0.5rem, tamaño 1/12 y 3/12 en mobile con texto weight bold -->
                <h2 class="mt-2 is-size-1 is-size-3-mobile has-text-weight-bold">Lorem ispum dolor sit amet consectutar</h2>
            </div>
        </div>

        <!-- Contenedor de botones con margin-bottom 3rem y btn con texto centrado -->
        <div class="mb-6 buttons is-centered">
            <!-- Set de botones -->
            <!-- Enlace con btn tiene color primary -->
            <a class="button is-primary" href="#">Active tab</a>
            <!-- Enlace con btn tiene color blanco -->
            <a class="button is-white" href="#">Normal tab</a>
            <!-- Enlace con btn tiene color blanco -->
            <a class="button is-white" href="#">Normal tab</a>
            <!-- Enlace con btn tiene color blanco -->
            <a class="button is-white" href="#">Normal tab</a>
        </div>

        <!-- Contenedor de imágenes tiene columns multiline -->
        <div class="columns is-multiline">

            <!-- Contenedor de imágenes primera columna, tamaño 6/12 -->
            <div class="column is-6">
                <!-- Contenedor con columns multiline -->
                <div class="columns is-multiline">
                    <!-- Set de imágenes PNG -->
                    <!-- Contenedor columns tamaño 6/12 -->
                    <div class="column is-6">
                        <!-- Imagen tiene tamaño completo -->
                        <img class="image is-fullwidth" src="assets/img/green-400-square.png" alt="">
                    </div>
                    <!-- Contenedor columns tamaño 6/12 -->
                    <div class="column is-6">
                        <!-- Imagen tiene tamaño completo -->
                        <img class="image is-fullwidth" src="assets/img/green-400-square.png" alt="">
                    </div>
                    <!-- Contenedor columns tamaño 12/12 -->
                    <div class="column is-12">
                        <!-- Imagen tiene tamaño completo -->
                        <img class="image is-fullwidth" src="assets/img/green-400-square.png" alt="">
                    </div>
                </div>
            </div>

            <!-- Contenedor de imágenes segunda columna, tamaño 6/12 -->
            <div class="column is-6">
                <!-- Contenedor con columns multiline -->
                <div class="columns is-multiline">
                    <!-- Set de imágenes PNG -->
                    <!-- Contenedor columns tamaño 12/12 -->
                    <div class="column is-12">
                        <!-- Imagen tiene tamaño completo -->
                        <img class="image is-fullwidth" src="assets/img/green-400-square.png" alt="">
                    </div>
                    <!-- Contenedor columns tamaño 6/12 -->
                    <div class="column is-6">
                        <!-- Imagen tiene tamaño completo -->
                        <img class="image is-fullwidth" src="assets/img/green-400-square.png" alt="">
                    </div>
                    <!-- Contenedor columns tamaño 6/12 -->
                    <div class="column is-6">
                        <!-- Imagen tiene tamaño completo -->
                        <img class="image is-fullwidth" src="assets/img/green-400-square.png" alt="">
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Sección 09 < /Portfolio > -->