<!-- Sección 10 < Price > -->

<!-- Contenedor Sección Price -->
<section class="section">

    <!-- Contenedor Contenido Price -->
    <div class="container">


        <!-- Contenedor introducción con título y descripción tiene columns multiline y centrado -->
        <div class="mb-5 columns is-multiline is-centered">
            <!-- Contenedor con columns 8/12 y texto centrado -->
            <div class="column is-8 has-text-centered">
                <!-- Antetítulo con color, tiene texto color grey dark -->
                <span class="has-text-grey-dark">Lorem ipsum</span>
                <!-- Título H2 con margin-top 0.5rem margin-bottom 0.75rem tamaño 1/12 y 3/12 en mobile con texto weight bold -->
                <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
                <!-- Descripción subtitle tiene texto color grey en párrafo -->
                <p class="subtitle has-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
            </div>
        </div>


        <!-- Contenedor de membresía plan premium tiene margin-bottom 1.5rem padding 3rem tiene columns multiline y fondo color light -->
        <div class="mb-5 p-6 columns is-multiline has-background-light">
            <!-- Contenedor responsivo 6/12 en desktop y padding-top 1.5rem -->
            <div class="column is-6-desktop pt-5">

                <!-- Contenedor información de membresía tiene margin-bottom 3rem -->
                <div class="mb-6">
                    <!-- Título H2 margin-bottom 0.75rem tamaño 1/12 y 3/12 en mobile con texto weight bold -->
                    <h2 class="mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Premium Membership</h2>
                    <!-- Reseña subtitle con texto color grey en párrafo -->
                    <p class="subtitle has-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
                </div>

                <div>

                    <!-- Contenedor con lista de especificaciones con columns multiline, margin-bottom 1.5rem y padding-left 0 -->
                    <ul class="mb-5 pl-0 columns is-multiline">


                        <!-- Especificación "1" tiene tamaño 12/12 y 6/12 en desktop con margin-bottom 0.5rem es flexible y con elementos alineados al centro -->
                        <li class="column is-12 is-6-desktop mb-2 is-flex is-align-items-center">
                            <!-- Icono SVG tiene texto color grey y margin-right 0.75rem -->
                            <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <!-- Texto con margin-bottom 0 en párrafo -->
                            <p class="mb-0">Complete documentation</p>
                        </li>


                        <!-- Especificación "2" tiene tamaño 12/12 y 6/12 en desktop con margin-bottom 0.5rem es flexible y con elementos alineados al centro -->
                        <li class="column is-12 is-6-desktop mb-2 is-flex is-align-items-center">
                            <!-- Icono SVG tiene texto color grey y margin-right 0.75rem -->
                            <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <!-- Texto con margin-bottom 0 en párrafo -->
                            <p class="mb-0">Working materials in Figma</p>
                        </li>


                        <!-- Especificación "3" tiene tamaño 12/12 y 6/12 en desktop con margin-bottom 0.5rem es flexible y con elementos alineados al centro -->
                        <li class="column is-12 is-6-desktop mb-2 is-flex is-align-items-center">
                            <!-- Icono SVG tiene texto color grey y margin-right 0.75rem -->
                            <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <!-- Texto con margin-bottom 0 en párrafo -->
                            <p class="mb-0">100GB cloud storage</p>
                        </li>


                        <!-- Especificación "4" tiene tamaño 12/12 y 6/12 en desktop con margin-bottom 0.5rem es flexible y con elementos alineados al centro -->
                        <li class="column is-12 is-6-desktop mb-2 is-flex is-align-items-center">
                            <!-- Icono SVG tiene texto color grey y margin-right 0.75rem -->
                            <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <!-- Texto con margin-bottom 0 en párrafo -->
                            <p class="mb-0">500 team members</p>
                        </li>


                    </ul>
                </div>
            </div>



            <!-- Contenedor elemento "box" membresía premium, tamaño 4/12 en desktop y margin-left auto -->
            <div class="column is-4-desktop ml-auto">

                <!-- Contenedor contenido de "box", tiene fondo color blanco y el texto centrado -->
                <div class="box has-background-white has-text-centered">
                    <!-- Descuento, H4 tiene texto weight bold -->
                    <h4 class="has-text-weight-bold">Sale -25%</h4>
                    <!-- Descripción párrafo con texto grey dark y margin-bottom 1.5rem -->
                    <p class="has-text-grey-dark mb-5">Free access for 25 members</p>
                    <!-- Contenedor precio, botón, margin-left and margin-right auto margin-bottom 1rem y padding-left and padding-right 1.5rem -->
                    <div class="mx-auto mb-4 px-5">
                        <!-- Precio con color, tamaño 1/12 y 3/12 en mobile con texto weight bold -->
                        <span class="is-size-1 is-size-3-mobile has-text-weight-bold">$49,99</span>
                        <!-- Enlace con btn, color primary, margin-top 1.5rem con ancho completo -->
                        <a class="button is-primary mt-5 is-fullwidth" href="#">Action</a>
                    </div>
                    <!-- Duración licencia, tiene texto color grey dark -->
                    <p class="has-text-grey-dark">Lifetime license</p>
                </div>


            </div>
        </div>

        <!-- Contenedor de membresía plan ultimate tiene margin-bottom 1.5rem padding 3rem tiene columns multiline y fondo color light -->
        <div class="mb-5 p-6 columns is-multiline box has-background-light">
            <!-- Contenedor responsivo 6/12 en desktop y padding-top 1.5rem -->
            <div class="column is-6-desktop pt-5">

                <!-- Contenedor información de membresía tiene margin-bottom 3rem -->
                <div class="mb-6">
                    <!-- Título H2 margin-bottom 0.75rem tamaño 1/12 y 3/12 en mobile con texto weight bold -->
                    <h2 class="mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Ultimate Membership</h2>
                    <!-- Reseña subtitle con texto color grey en párrafo -->
                    <p class="subtitle has-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
                </div>


                <div>

                    <!-- Contenedor con lista de especificaciones con columns multiline, margin-bottom 1.5rem y padding-left 0 -->
                    <ul class="mb-5 pl-0 columns is-multiline">


                        <!-- Especificación "1" tiene tamaño 12/12 y 6/12 en desktop con margin-bottom 0.5rem es flexible y con elementos alineados al centro -->
                        <li class="column is-12 is-6-desktop is-flex is-align-items-center">
                            <!-- Icono SVG tiene texto color grey y margin-right 0.75rem -->
                            <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <!-- Texto con margin-bottom 0 en párrafo -->
                            <p class="mb-0">Complete documentation</p>
                        </li>


                        <!-- Especificación "2" tiene tamaño 12/12 y 6/12 en desktop con margin-bottom 0.5rem es flexible y con elementos alineados al centro -->
                        <li class="column is-12 is-6-desktop is-flex is-align-items-center">
                            <!-- Icono SVG tiene texto color grey y margin-right 0.75rem -->
                            <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <!-- Texto con margin-bottom 0 en párrafo -->
                            <p class="mb-0">Working materials in Figma</p>
                        </li>


                        <!-- Especificación "3" tiene tamaño 12/12 y 6/12 en desktop con margin-bottom 0.5rem es flexible y con elementos alineados al centro -->
                        <li class="column is-12 is-6-desktop is-flex is-align-items-center">
                            <!-- Icono SVG tiene texto color grey y margin-right 0.75rem -->
                            <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <!-- Texto con margin-bottom 0 en párrafo -->
                            <p class="mb-0">100GB cloud storage</p>
                        </li>


                        <!-- Especificación "4" tiene tamaño 12/12 y 6/12 en desktop con margin-bottom 0.5rem es flexible y con elementos alineados al centro -->
                        <li class="column is-12 is-6-desktop is-flex is-align-items-center">
                            <!-- Icono SVG tiene texto color grey y margin-right 0.75rem -->
                            <svg class="has-text-grey mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <!-- Texto con margin-bottom 0 en párrafo -->
                            <p class="mb-0">500 team members</p>
                        </li>



                    </ul>
                </div>
            </div>


            <!-- Contenedor elemento "box" membresía ultimate, tamaño 4/12 en desktop y margin-left auto -->
            <div class="column is-4-desktop ml-auto">

                <!-- Contenedor contenido de "box", tiene fondo color blanco y el texto centrado -->
                <div class="box has-background-white has-text-centered">
                    <!-- Descuento, H4 tiene texto weight bold -->
                    <h4 class="has-text-weight-bold">Sale -50%</h4>
                    <!-- Descripción párrafo con texto grey dark y margin-bottom 1.5rem -->
                    <p class="has-text-grey-dark mb-5">Free access for all members</p>
                    <!-- Contenedor precio, botón, margin-left and margin-right auto margin-bottom 1rem y padding-left and padding-right 1.5rem -->
                    <div class="mx-auto mb-4 px-5">
                        <!-- Precio con color, tamaño 1/12 y 3/12 en mobile con texto weight bold -->
                        <span class="is-size-1 is-size-3-mobile has-text-weight-bold">$99,99</span>
                        <!-- Enlace con btn, color primary, margin-top 1.5rem con ancho completo -->
                        <a class="button is-primary mt-5 is-fullwidth" href="#">Action</a>
                    </div>
                    <!-- Duración licencia, tiene texto color grey dark -->
                    <p class="has-text-grey-dark">Lifetime license</p>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- Sección 10 < /Price > -->