<!-- Sección 06 < Stats > -->

<!-- Contenedor Sección Stats -->
<section class="section">

    <!-- Contenedor Contenido Stats -->
    <div class="container">

        <!-- Contenedor para agrupar Stats, tiene columns multiline y esta verticalmente centrado -->
        <div class="is-vcentered columns is-multiline">

            <!-- Estadística "1", es 6/12 y 3/12 en desktop con margin-bottom 1.5rem y texto centrado -->
            <div class="column is-6 is-3-desktop mb-5 has-text-centered">
                <!-- Cifra numérica H3 tamaño 1/12 y 3/12 en mobile y tiene texto weight bold -->
                <h3 class="is-size-1 is-size-3-mobile has-text-weight-bold">4,536</h3>
                <!-- Descripción tiene texto color dark grey -->
                <p class="has-text-grey-dark">Dolor sit amet consectutar</p>
            </div>

            <!-- Estadística "2", es 6/12 y 3/12 en desktop con margin-bottom 1.5rem y texto centrado -->
            <div class="column is-6 is-3-desktop mb-5 has-text-centered">
                <!-- Cifra numérica H3 tamaño 1/12 y 3/12 en mobile y tiene texto weight bold -->
                <h3 class="is-size-1 is-size-3-mobile has-text-weight-bold">356</h3>
                <!-- Descripción tiene texto color dark grey -->
                <p class="has-text-grey-dark">Dolor sit amet consectutar</p>
            </div>

            <!-- Estadística "3", es 6/12 y 3/12 en desktop con margin-bottom 1.5rem y texto centrado -->
            <div class="column is-6 is-3-desktop mb-5 has-text-centered">
                <!-- Cifra numérica H3 tamaño 1/12 y 3/12 en mobile y tiene texto weight bold -->
                <h3 class="is-size-1 is-size-3-mobile has-text-weight-bold">1,053</h3>
                <!-- Descripción tiene texto color dark grey -->
                <p class="has-text-grey-dark">Dolor sit amet consectutar</p>
            </div>


            <!-- Estadística "4", es 6/12 y 3/12 en desktop con margin-bottom 1.5rem y texto centrado -->
            <div class="column is-6 is-3-desktop mb-5 has-text-centered">
                <!-- Cifra numérica H3 tamaño 1/12 y 3/12 en mobile y tiene texto weight bold -->
                <h3 class="is-size-1 is-size-3-mobile has-text-weight-bold">4,431</h3>
                <!-- Descripción tiene texto color dark grey -->
                <p class="has-text-grey-dark">Dolor sit amet consectutar</p>
            </div>

        </div>


    </div>
</section>

<!-- Sección 06 < /Stats > -->