<!-- Sección 11 < Testimonials > -->

<!-- Contenedor Sección Testimonials -->
<section class="section">

    <!-- Contenedor Contenido Testimonials -->
    <div class="container">

        <!-- Contenedor introducción con título y descripción, tiene columns multiline y centrado -->
        <div class="mb-6 columns is-multiline is-centered">
            <!-- Contenedor column tamaño 8/12 con texto centrado -->
            <div class="column is-8 has-text-centered">
                <!-- Antetítulo tiene texto color grey dark -->
                <span class="has-text-grey-dark">Lorem ipsum</span>
                <!-- Título H2 con margin-top 0.5rem margin-bottom 0.75rem tamaño 1/12 y 3/12 en mobile con texto weight bold -->
                <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
                <!-- Descripción, subtitle con texto color grey en párrafo -->
                <p class="subtitle has-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
            </div>
        </div>

        <!-- Contenedor de elementos "box", verticalmente centrado y con columns multiline -->
        <div class="is-vcentered columns is-multiline">

            <!-- Contenedor box "1" column tamaño 6/12 y 4/12 en desktop con margin-bottom 1rem -->
            <div class="column is-6 is-4-desktop mb-4">
                <!-- Contenedor tiene fondo color light -->
                <div class="box has-background-light">
                    <!-- Reseña  subtitle con texto color grey margin-bottom 1.5rem en párrafo -->
                    <p class="subtitle has-text-grey mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim quam ultricies, placerat tellus sed, laoreet orci. Duis luctus quam ac metus gravida sodales. Sed a ex accumsan, pellentesque sem eget, scelerisque dolor.</p>
                    <!-- Imagen PNG tiene margin-bottom 0.75rem y ancho completo-->
                    <img class="mb-3 image is-fullwidth" src="assets/img/green-400-avatar.png" alt="" style="width: 48px;height: 48px">
                    <!-- Nombre, tiene margin-bottom 0.5rem tamaño 5/12 con texto weight bold -->
                    <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
                    <!-- Cargo, texto color grey en párrafo -->
                    <p class="has-text-grey">CEO &amp; Founder</p>
                </div>
            </div>


            <!-- Contenedor box "2" column tamaño 6/12 y 4/12 en desktop con margin-bottom 1rem -->
            <div class="column is-6 is-4-desktop mb-4">
                <!-- Contenedor tiene fondo color light -->
                <div class="box has-background-light">
                    <!-- Reseña  subtitle con texto color grey margin-bottom 1.5rem en párrafo -->
                    <p class="subtitle has-text-grey mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim quam ultricies, placerat tellus sed, laoreet orci. Duis luctus quam ac metus gravida sodales. Sed a ex accumsan, pellentesque sem eget, scelerisque dolor.</p>
                    <!-- Imagen PNG tiene margin-bottom 0.75rem y ancho completo-->
                    <img class="mb-3 image is-fullwidth" src="assets/img/green-400-avatar.png" alt="" style="width: 48px;height: 48px">
                    <!-- Nombre, tiene margin-bottom 0.5rem tamaño 5/12 con texto weight bold -->
                    <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
                    <!-- Cargo, texto color grey en párrafo -->
                    <p class="has-text-grey-dark">CEO &amp; Founder</p>
                </div>
            </div>


            <!-- Contenedor box "3" column tamaño 6/12 y 4/12 en desktop con margin-bottom 1rem -->
            <div class="column is-6 is-4-desktop mb-4">
                <!-- Contenedor tiene fondo color light -->
                <div class="box has-background-light">
                    <!-- Reseña  subtitle con texto color grey margin-bottom 1.5rem en párrafo -->
                    <p class="subtitle has-text-grey mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim quam ultricies, placerat tellus sed, laoreet orci. Duis luctus quam ac metus gravida sodales. Sed a ex accumsan, pellentesque sem eget, scelerisque dolor.</p>
                    <!-- Imagen PNG tiene margin-bottom 0.75rem y ancho completo-->
                    <img class="mb-3 image is-fullwidth" src="assets/img/green-400-avatar.png" alt="" style="width: 48px;height: 48px">
                    <!-- Nombre, tiene margin-bottom 0.5rem tamaño 5/12 con texto weight bold -->
                    <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
                    <!-- Cargo, texto color grey en párrafo -->
                    <p class="has-text-grey">CEO &amp; Founder</p>
                </div>
            </div>


            <!-- Contenedor box "4" column tamaño 6/12 y 4/12 en desktop con margin-bottom 1rem -->
            <div class="column is-6 is-4-desktop mb-4">
                <!-- Contenedor tiene fondo color light -->
                <div class="box has-background-light">
                    <!-- Reseña  subtitle con texto color grey margin-bottom 1.5rem en párrafo -->
                    <p class="subtitle has-text-grey mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim quam ultricies, placerat tellus sed, laoreet orci. Duis luctus quam ac metus gravida sodales. Sed a ex accumsan, pellentesque sem eget, scelerisque dolor.</p>
                    <!-- Imagen PNG tiene margin-bottom 0.75rem y ancho completo-->
                    <img class="mb-3 image is-fullwidth img-fluid" src="assets/img/green-400-avatar.png" alt="" style="width: 48px;height: 48px">
                    <!-- Nombre, tiene margin-bottom 0.5rem tamaño 5/12 con texto weight bold -->
                    <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
                    <!-- Cargo, texto color grey en párrafo -->
                    <p class="has-text-grey">CEO &amp; Founder</p>
                </div>
            </div>


            <!-- Contenedor box "5" column tamaño 6/12 y 4/12 en desktop con margin-bottom 1rem -->
            <div class="column is-6 is-4-desktop mb-4">
                <!-- Contenedor tiene fondo color light -->
                <div class="box has-background-light">
                    <!-- Reseña  subtitle con texto color grey margin-bottom 1.5rem en párrafo -->
                    <p class="subtitle has-text-grey mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim quam ultricies, placerat tellus sed, laoreet orci. Duis luctus quam ac metus gravida sodales. Sed a ex accumsan, pellentesque sem eget, scelerisque dolor.</p>
                    <!-- Imagen PNG tiene margin-bottom 0.75rem y ancho completo-->
                    <img class="mb-3 image is-fullwidth img-fluid" src="assets/img/green-400-avatar.png" alt="" style="width: 48px;height: 48px">
                    <!-- Nombre, tiene margin-bottom 0.5rem tamaño 5/12 con texto weight bold -->
                    <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
                    <!-- Cargo, texto color grey en párrafo -->
                    <p class="has-text-grey">CEO &amp; Founder</p>
                </div>
            </div>


            <!-- Contenedor box "6" column tamaño 6/12 y 4/12 en desktop con margin-bottom 1rem -->
            <div class="column is-6 is-4-desktop mb-4">
                <!-- Contenedor tiene fondo color light -->
                <div class="box has-background-light">
                    <!-- Reseña  subtitle con texto color grey margin-bottom 1.5rem en párrafo -->
                    <p class="subtitle has-text-grey mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim quam ultricies, placerat tellus sed, laoreet orci. Duis luctus quam ac metus gravida sodales. Sed a ex accumsan, pellentesque sem eget, scelerisque dolor.</p>
                    <!-- Imagen PNG tiene margin-bottom 0.75rem y ancho completo-->
                    <img class="mb-3 image is-fullwidth img-fluid" src="assets/img/green-400-avatar.png" alt="" style="width: 48px;height: 48px">
                    <!-- Nombre, tiene margin-bottom 0.5rem tamaño 5/12 con texto weight bold -->
                    <h4 class="mb-2 is-size-5 has-text-weight-bold">Danny Bailey</h4>
                    <!-- Cargo, texto color grey en párrafo -->
                    <p class="has-text-grey">CEO &amp; Founder</p>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- Sección 11: < /Testimonials > -->