include ../includes/head
include ../includes/header
include ../includes/company-brands
include ../includes/features
include ../includes/how-it-works
include ../includes/stats
include ../includes/applications-sections
include ../includes/team-company
include ../includes/portfolio
include ../includes/price
include ../includes/testimonial
include ../includes/contact
include ../includes/newsletter
include ../includes/footer